<div class="row">
    <div class="col-md-12" id="request-page">
        <div class="panel {{cls}}">
        <div class="panel-heading">
            <h2 class="panel-title">{{h2}}</h2>
        </div>
        <div class="panel-body">
            <section class="col-md-12">
                <h3 class="text-center">{{h3}}</h3>
            </section>
        </div>
    </div>
</div>